html{
    background-color: lightgreen;
}

h1 {
    color: darkgreen;
    text-align: center;
}

h2 {
    text-align: center;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, 25vw);
    gap: 10px;
}

.square {
    border-color: black;
    outline: solid;
    text-align: center;
    vertical-align: center;
    font-size: 20vw;
}

.xMarker{
    background-color: black;
    color:white
}

.yMarker{
    background-color: white;
    color:black
}
